{% extends 'base.html' %}

{% block content %}
	<div class="general-text">
		<div id="main-header">
			General
			<p>
			<form action="" method="post">
				{% csrf_token %}
				<a class="bigtile" href="{% url 'shooter:newteam' %}">New Team</a>
				<a class="bigtile" href="{% url 'shooter:newshooter' %}">New Shooter</a>

				<input class="bigtile" type="submit" name="run_scores" value="Run {{ season_year }} Scores">
			</form>
			</p>
			New Scores
        </div>
        <p>
        <table id="shooter-tables">
        {% for team in season_scores %}
            <tr>
                <td><a href="{% url 'shooter:newscore' team.team__team_name %}">{{ team.team__team_name }}</a></td>
            </tr>
        {% endfor %}
        </table>
        </p>
        {% if messages %}
        <p>
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} <class="{{ message.tags }}"> {% endif %} {{ message }}</li>
            {% endfor %}
        </ul>
        </p>
        {% endif %}
	</div>
{% endblock %}