{% extends 'base.html' %}

{% block content %}
	<div class="general-text">
		<div id="main-header">
			<a href="{% url 'shooter:newteam' %}">New Team</a>
			<p><a href="{% url 'shooter:newshooter' %}">New Shooter</a></p>
			<a href="{% url 'shooter:newscore' %}">New Score</a>
		</div>

		{% comment %}
		<table id="shooter-tables">
		{% for team in season %}
			<tr>
				<td><a href="{% url 'shooter:newscore' team.team_name %}">{{ team.team_name }}</a></td>
			</tr>
		{% endfor %}
		</table>
		{% endcomment %}
	</div>
{% endblock %}