{% extends 'base.html' %}

{% block content %}
		{% regroup all_season by season_year as season_list %}
		{% for season in season_list %}
			<p>
			<table id="shooter_tables">
			<tr>
				<th><a href="{% url 'shooter:season' season.grouper %}">{{ season.grouper }} Season</a></th>
			</tr>
			{% for team in season.list %}
				<tr>
					<td><a href="{% url 'shooter:team' season.grouper team.team__team_name %}">{{ team.team__team_name }}</td>
				</tr>
			{% endfor %}
			</table>
			</p>
		{% endfor %}
{% endblock %}