<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'shooter/style.css' %}" />

	<title>
		CITL: Shooters
	</title>
</head>

<body>
	<div id="header">
		<div class="citl-logo">Central Illinois Trap League</div>
		<div class="citl-slogan">An Open Source Trap League</div>
	</div>
	
	<div id="sidebar-left">
		<a style="font-weight:bold;" href="{% url 'shooter:index' %}">Home</a>
		<a href="http://www.darnalls.com/">Darnall's Gun Works</a>
		<a href="http://www.google.com">Google</a>
	</div>
	
	<div id="main" class="general-text">
		{% regroup all_season by season_year as season_list %}
		{% for season in season_list %}
			<p>
			<table id="shooter_tables">
			<tr>
				<th><a href="{% url 'shooter:season' season.grouper %}">{{ season.grouper }} Season</a></th>
			</tr>
			{% for team in season.list %}
				<tr>
					<td><a href="{% url 'shooter:team' season.grouper team.team__team_name %}">{{ team.team__team_name }}</td>
				</tr>
			{% endfor %}
			</table>
			</p>
		{% endfor %}
	</div>

	<div id="sidebar-right">
		Trophies Placeholder
	</div>
	
	<div id="footer">
		Central Illinois Trap League is an independently organized, non-discriminating shooting sport. We encourage families and friends to participate. 
		We remind everyone to keep it legal by shooting with an adult if under age, or otherwise having a valid FOID card.
	</div>
	
</body>
</html>