<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'shooter/style.css' %}" />

	<title>
		CITL: Shooters
	</title>
</head>

<body>
	<div id="header">
		<div class="citl-logo">Central Illinois Trap League</div>
		<div class="citl-slogan">An Open Source Trap League</div>
	</div>
	
	<div id="sidebar-left">
		
	</div>
	
	<div id="main" class="general-text">
		{% regroup all_season by season_year as season_list %}
		{% for season in season_list %}
			<p>
			<table id="shooter_tables">
			<tr>
				<th><a href="{% url 'shooter:season' season.grouper %}">{{ season.grouper }} Season</a></th>
			</tr>
			{% for team in season.list %}
				<tr>
					<td><a href="{% url 'shooter:team' season.grouper team.team__team_name %}">{{ team.team__team_name }}</td>
				</tr>
			{% endfor %}
			</table>
			</p>
		{% endfor %}
	</div>

	<div id="sidebar-right">
		Trophies
	</div>
	
	<div id="footer">
		<a href="{% url 'shooter:index' %}">Shooter Index</a>
	</div>
	
</body>
</html>

<!--

	<div id="header">Header</div>
	<div id="sidebar-left">Left</div>
	<div id="main">Main</div>
	<div id="sidebar-right">Right</div>
	<div id="footer">Footer</div>

-->