{% extends 'base.html' %}

{% block content %}
	<div class="general-text">
		<div id="main-header">
			New Shooter
		</div>
		<form id="new-shooter" action="{% url 'shooter:newshooter' %}" method="post">
		<table id="input-tables">
			<tr>
				<th>Team Name</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Captain</th>
				<th>Rookie</th>
				<th>Guest</th>
				<th></th>
			</tr>
			<tr>
				<td>{{ team_form.team_name }}</td>
				<td>{{ shooter_form.first_name }}</td>
				<td>{{ shooter_form.last_name }} </td>
				<td>{{ shooter_form.email }} </td>
				<td>{{ shooter_form.captain }}</td>
				<td>{{ shooter_form.rookie }} </td>
				<td>{{ shooter_form.guest }} </td>
				<td></td>
			</tr>
			{% csrf_token %}
		</table>
		</p>
		<p><input class="button" type="submit" value="Submit"></p>
		</form>
		<!--
		<script type="text/javascript">
			$(function() {
				$('#new-shooter table tr').formset({addText: 'Add another shooter', deleteText: ' remove'});
			})
		</script>
		-->

		</p>
		<p>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		</p>
	</div>
{% endblock %}