{% extends 'base.html' %}

{% block content %}
	<div class="general-text">
		<div id="main-header">
			New Shooter
		</div>
		<form id="new-shooter" action="{% url 'shooter:newshooter' %}" method="post">
		<table id="input-tables">
			<tr>
				<th>Team Name</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Rookie</th>
				<th>Guest</th>
			</tr>
			{% for f in team_formset %}
			<tr>
				<td>{{ f.team_name }}</td>
			{% endfor %}
			{% for f in shooter_formset %}
				<td>{{ f.first_name }}</td>
				<td>{{ f.last_name }} </td>
				<td>{{ f.email }} </td>
				<td>{{ f.rookie }} </td>
				<td>{{ f.guest }} </td>
			</tr>
			{% endfor %}
			{% csrf_token %}
			{{ shooter_formset.management_form }}
		</table>
		</p>
		<p><input class="button" type="submit" value="Submit"></p>
		</form>

		<script type="text/javascript">
			$(function() {
				$('#new-shooter table tr').formset({addText: 'Add another shooter', deleteText: ' remove'});
			})
		</script>

		</p>
		<p>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		</p>
	</div>
{% endblock %}