{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="general-text">
		<div id="main-header">
			New Team
		</div>
		<form id="new-team" action="{% url 'shooter:newteam' %}" method="post">
			{% csrf_token %}
			<table id="input-tables">
				<tr>
					<th>Team Name</th>
				</tr>
				<tr>
					<td>{{ team_form.team_name }}</td>
				</tr>
			</table>
			<p><input class="button" type="submit" value="Submit"></p>
		</form>
		<p>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</p>
	</div>
{% endblock %}