{% extends 'base.html' %}

{% block content %}
		<!--<p>
		{% for item in persons %}
			{# item.shooter.first_name #}
			{{ item.shooter }}
			<br>
		{% endfor %}
		</p>-->
		<p>
		{% for item in scores %}
			{{ item }} <br>
		{% endfor %}
		</p>
		
		<br>
		<div id="team-header">
			{{ team }}
		</div>
		Currently in 1st Place
		<p>
		<table id="scorecard-tables">
			<tr>
				<th>Member</th>
				{% for n in range %}
					<th>W{{ n }} </th>
				{% endfor %}
				<th>Weeks Shot</th>
				<th>Current Average</th>
			</tr>
			{% for item in persons %}
			<tr>
				<td>{{ item.shooter.first_name }} {{ item.shooter.last_name }}</td>
				{% for n in range %}
					<td align="center"></td>
				{% endfor %}
				<td></td>
				<td>{{ item.average }}</td>
			</tr>
			{% endfor %}
		</table>
		</p>
{% endblock %}