{% extends 'base.html' %}

{% block content %}
		<div id="main-header">
			{{ team }}
		</div>
		({{ season }}) Currently in 1st Place {# TODO: Make dynamic; use pluralize #}
		<p>
		<table id="scorecard-tables">
			<tr>
				<th>Member</th>
				{% for n in weekRange %}
					<th>W{{ n }} </th>
				{% endfor %}
				<th>Weeks Shot</th>
				<th>Current Average</th>
			</tr>
			{% for name, value in scores.items %}
			<tr>
				<td>{{ name }}</td>
				{% for w, s in value.weeks.items %}
					{% if s == 0 %}
						<td>-</td>
					{% else %}
						<td>{{ s }}</td>
					{% endif %}
				{% endfor %}
				<td> {{ value.count }} </td>
				<td> {{ value.average }} </td>
			</tr>
			{% endfor %}
			<tr>
				<td>Total Targets</td>
				{% for week, score in totalTargets.items %}
					<td>{{ score }} </td>
				{% endfor %}

			</tr>
		</table>
		</p>
{% endblock %}