{% extends 'base.html' %}

{% block content %}
	{% regroup all_season by season as season_list %}
	{% for season in season_list %}
		<table id="shooter-tables">
		{% if season.grouper == current_year %}
			<tr>
				<th>{{ season.grouper }} Season</th>
			</tr>
			{% for team in season.list %}
				<tr>
					<td><a href="{% url 'shooter:scorecard' season.grouper team.team__team_name %}">{{ team.team__team_name }}</a></td>
				</tr>
			{% endfor %}
			</table>
			<br>
		{% else %}
			<tr>
				<th><a href="{% url 'shooter:season' season.grouper %}">{{ season.grouper }} Season</a></th>
			</tr>
			</table>
		{% endif %}
	{% endfor %}
{% endblock %}