.citl-logo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 1;
	font-size: 37px;
	letter-spacing: 2px;
	color: #555555;
	display: block;
	top: 17px;
}

.citl-slogan {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 1;
	font-size: 17px;
	letter-spacing: 3px;
	color: #4CAF50;
	display: block;
	text-align: right;
	top: 17px;
}

.general-text {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: inherit;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Global CSS */

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover, a:active {
    text-decoration: none;
	color: green;
}

/* Page layout styles */

#header{
	background-color: white;
	width:100%;
	text-align: left;
	text-transform: uppercase;
	color: black;
	border-bottom: solid;
	padding-top: 10px;
	box-sizing: border-box;
}

#sidebar-left{
	float:left;
	width:15%;
	background-color: #f2f2f2;
	padding: 0px;
	box-sizing: border-box;
}

#sidebar-left a:link, #sidebar-left a:visited {
    background-color: #f2f2f2;
    color: black;
    border: 0px solid black;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	width: 100%;
    box-sizing: border-box;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

#sidebar-left a:hover, #sidebar-left a:active {
    background-color: #4CAF50;
    color: white;
}

#main{
	float:left;
	width:70%;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
#sidebar-right{
	float:left;
	width:15%;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
#footer{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	clear:both;
	height: auto;
	width: 100%;
	text-align: center;
	background-color: darkgray;
	color: white;
	border-top: 2px solid black;
	padding: 20px;
	box-sizing: border-box;
}
#sidebar-left, #main, #sidebar-right{
	min-height: 550px				
}

/* Shooter Tables formatting */

#shooter_tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    min-width: 40%;
}

#shooter_tables td, #shooter_tables th {
    border: 1px solid #ddd;
    padding: 8px;
	padding-right: 30px;
}

#shooter_tables tr:nth-child(even) {
	background-color: #f2f2f2;
}

#shooter_tables tr:hover {
	background-color: #ddd;
}

#shooter_tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}