<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

	<title>
		CITL: Shooters
	</title>
</head>

<body>
	<div id="header">
		<div class="citl-logo">Central Illinois Trap League</div>
		<div class="citl-slogan">An Open Source Trap League</div>
	</div>
	
	<div id="sidebar-left">
		<a style="font-weight:bold;" href="{% url 'index' %}">Home</a>
		<a href="{% url 'shooter:index' %}">Scorecards</a>
		<a href="http://www.darnalls.com/">Darnall's Gun Works</a>
	</div>
	
	<div id="main" class="general-text">
		<div id="content">
		
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<div id="sidebar-right" class="general-text">
		{% if user.is_anonymous %}
			<a href="{% url 'login' %}">Login</a>
		{% else %}
			Logged in as: <div class="user-id">{{ user }}</div>
			<p>
			<a href="{% url 'logout' %}">Logout</a>
			</p>
		{% endif %}
	</div>
	<div id="footer">
		Central Illinois Trap League is an independently organized, non-discriminating shooting sport. We encourage families and friends to participate. 
		We remind everyone to keep it legal by shooting with an adult if under age, or otherwise having a valid FOID card.
	</div>
	
</body>
</html>