{% extends 'base.html' %}

{% block content %}
	<div id="main-header">
		Welcome!
	</div>
	<div class="general-text">
		<p>The 2019 CITL season enrollment is here!</p>

		<p><a href="https://en.wikipedia.org/wiki/Trap_shooting">Trap Shooting</a> is a competitive clay pigeon shooting sport where individuals
		participate in shooting clay targets launched from a stationary bunker. Teams consist of many shooters, but only five shooters from a team will participate
		during any one event.</p>

		<p>Trap shooting is typically shot with a 12-gauge shotgun, although lower gauges can be used if needed
		(no handicap will be given). CITL shoots two bunkers, or 50 total shots, for each team on shooting nights. Score is kept
		based on the number of clay targets broken.</p>

	</div>
{% endblock %}